*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    background: rgb(155, 184, 183);  
}
header{
    background: rgb(123, 146, 146);
    padding: 2px 0;
}
.lg{
    position: relative;
    width: 940px;
    margin: 0px auto;
}  
nav{
    position: absolute;
    top: 100px;
    right: 0px;
}
nav li{
    display: inline-block;
    margin: 0 0 0 10px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
nav a:hover{
    color: #bd6f08;
    text-decoration: underline;
}
.imm{
    width: 170px;
    margin: 20px ;
    padding: 15px;  
}
.titulo{
    text-align-last: center;
}
.bloco:hover, .bloco:active{
    transform: scale(1.05);
    box-shadow: 2px 3px 2px rgb(33, 37, 37);   
}
.bloco{
    text-align: center;
    vertical-align: top;
    width: 150px;
    height: 280px;
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    border: 2px solid rgb(21, 24, 24);
    margin-top: 5%;
    margin-left: 16%;
    margin-right: 2%;
}
#escrita{
    font-family: sans-serif;
}
.nome{
    margin-top: 4%;
    font-size: 15px;
    top: 2%;
}
.valor{
    top: 2%; 
    
}